
<div class="app-header navbar-md white box-shadow">
    <div class="navbar">

          <!-- brand -->
          <div>
            <div class="navbar-brand">
                <img src="./assets/images/logo.png" >
                <span class="inline">YoniKan</span>
            </div>
          </div>
          <!-- / brand -->

          <!-- nabar right -->
          <ul class="nav navbar-nav pull-right">
            <li class="nav-item">
              <a routerLink="/auth" class="nav-link">
                <span><i class="material-icons">person</i></span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                  <span>
                    <i class="material-icons">notifications</i>
                    <b class="label rounded label-xs success up">5</b>
                  </span>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle clear">
                <span class="avatar w-32">
                  <a routerLink="/profile" >
                    <img src="../../assets/images/a1.jpg" alt="...">
                    <i class="on b-white bottom"></i>
                  </a>
                </span>
              </a>
            </li>
          </ul>
          <!-- / navbar right -->


          <form class="navbar-form form-inline pull-right pull-none-sm navbar-item v-m ng-pristine ng-valid ng-scope" role="search">
            <div class="form-group l-h m-a-0">
              <div class="input-group">
                <input type="text" class="form-control form-control-sm p-x b-a rounded" placeholder="Search members...">
              </div>
            </div>
          </form>


          <!-- nav -->
          <ul class="nav navbar-nav pull-left  nav-active-border b-success">
                <li routerLinkActive="active" class="nav-item">
                  <a routerLink="/home" class="nav-link">
                    <span class="nav-text">Home</span>
                  </a>
                </li>
                <li routerLinkActive="active" class="nav-item">
                  <a routerLink="/profile" class="nav-link">
                    <span class="nav-text">Profile</span>
                  </a>
                </li>
                <li routerLinkActive="active" class="nav-item">
                  <a routerLink="/settings" class="nav-link">
                    <span class="nav-text">Settings</span>
                  </a>
                </li>
                <li routerLinkActive="active" class="nav-item">
                  <a routerLink="/contact" class="nav-link">
                    <span class="nav-text">Contact</span>
                  </a>
                </li>

          </ul>
          <!-- / nav -->


    </div>
</div>
