
<div class="row">
  <div class="col-md-12">
        <ul class="nav navbar-nav pull-left  nav-active-border b-success">
                <li routerLinkActive="active" class="nav-item">
                  <a routerLink="/signin" class="nav-link">
                    <span class="nav-text">sign-in</span>
                  </a>
                </li>
                <li routerLinkActive="active" class="nav-item">
                  <a routerLink="/signup" class="nav-link">
                    <span class="nav-text">sign-up</span>
                  </a>
                </li>
                <li routerLinkActive="active" class="nav-item">
                  <a routerLink="/forgot-password" class="nav-link">
                    <span class="nav-text">frogot password</span>
                  </a>
                </li>
        </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <router-outlet></router-outlet>
  </div>
</div>
